*{
    margin: 0;
    padding: 0;
}

header{
  box-shadow: 0px 10px 100px 0px #888888;
}
nav {
    background-color:  #317f43;     
}
nav{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    font-size: 1.25rem;
    color: white;
    text-shadow: 2px 3px 8px #293a00;
}

nav a{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    font-size: 1.25rem;
    color: white;
    text-shadow: 2px 3px 8px #293a00;
}

nav h1{
    color: #000000;
    font-size: 2.65rem;
}

.twits{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding-top: 2rem;
}

.twit{
  border: 2px solid black;
  max-width: 30rem;
  min-width: 30rem;
  padding: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.comments{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.comment{
  border: 1px solid black;
  max-width: 25rem;
  min-width: 25rem;
  margin-bottom: 0.25rem;
  margin-top: 0.25rem;
}

.form-group{
  margin: 1rem 0;
}

.form-input{
  width: 600px;
}

.container{
    display: flex;
    align-items: center;
    flex-flow: column;
}

#clock {
    font-size: 20px;
    text-align: center;
    padding-top: 0.6rem;
}

#date {
    font-size: 20px;
    text-align: center;
    padding-top: 0.2rem;
}

.clock {
    width: 10rem;
    height: 10rem;
    position: relative;
    border: 7px solid #c5c5c5;
    box-shadow: -4px -4px 10px rgba(218, 217, 217, 0.5),
                  inset 4px 4px 10px rgba(247, 247, 247, 0.5),
                  inset -4px -4px 10px rgba(218, 217, 217, 0.5),
                  4px 4px 10px rgba(247, 247, 247, 0.5);
    border-radius: 50%;
    
  
  }
  
  .outer-clock-face {
    position: relative;
    background: rgba(247, 247, 247, 1);
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 100%;
  }
  
  .outer-clock-face::after {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg)
  }
  
  .outer-clock-face::after,
  .outer-clock-face::before,
  .outer-clock-face .marking{
    content: '';
    position: absolute;
    width: 4px;
    height: 100%;
    background: #1df52f;
    z-index: 0;
    left: 49%;
  }

  .outer-clock-face .marking {
    background: #bdbdcb;
    width: 3px;
  }
  
  .outer-clock-face .marking.marking-one {
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    transform: rotate(30deg)
  }
  
  .outer-clock-face .marking.marking-two {
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    transform: rotate(60deg)
  }
  
  .outer-clock-face .marking.marking-three {
    -webkit-transform: rotate(120deg);
    -moz-transform: rotate(120deg);
    transform: rotate(120deg)
  }
  
  .outer-clock-face .marking.marking-four {
    -webkit-transform: rotate(150deg);
    -moz-transform: rotate(150deg);
    transform: rotate(150deg)
  }

  .inner-clock-face {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    background: rgba(247, 247, 247, 1);
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    z-index: 1;
  }
  
  .inner-clock-face::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    border-radius: 18px;
    margin-left: -9px;
    margin-top: -6px;
    background: #4d4b63;
    z-index: 11;
  }

  .hand {
    width: 50%;
    right: 50%;
    height: 6px;
    background: #61afff;
    position: absolute;
    top: 50%;
    border-radius: 6px;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
  }
  
  .hand.hour-hand {
    width: 30%;
    z-index: 3;
  }
  
  .hand.min-hand {
    height: 3px;
    z-index: 10;
    width: 40%;
  }
  
  .hand.second-hand {
    background: #ee791a;
    width: 45%;
    height: 2px;
  }

  .dropdown_button {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
}
  
.nav_links{
    display: flex;
    padding-right: 10%;
}

.hidden{
    display: flex;
    background-color: rgba(4, 170, 109, 0);
    color: white;
    padding: 16px;
    font-size: 16px;
    max-width: 1%;
    max-height: 1%;
    text-decoration: rgb(255, 255, 255);
    justify-self: right;
}

.hidden:hover{
    background-color: rgba(4, 170, 109, 0.2);
}

.hidden:link{
    text-decoration: none;
}
    /* Dropdown code*/

.dropdown_button {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
}

.dropdown_subbutton {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
}

.dropdown {
    position: relative;
    display: inline-block;
    max-height: 40px;
}

.subdropdown {
  position: relative;
  display: inline-block;
  max-height: 40px;
}
  
.dropdown_content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown_content_double {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
}

.dropdown_subcontent {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
}

.dropdown_content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown_content_double a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown_subcontent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
  
.dropdown_content a:hover {
      background-color: #ddd;
}

.subdropdown .dropdown_subcontent a:hover {
  background-color: #ddd;
}
  
.dropdown:hover .dropdown_content {
      display: block;
}

.dropdown:hover .dropdown_content_double {
  display: block;
}

.subdropdown:hover .dropdown_subcontent {
  display: block;
}

.dropdown .dropdown_button:hover {
      background-color: #317f43;
}

.subdropdown .dropdown_subbutton:hover {
  background-color: #317f43;
}

.dropdown .dropdown_button{
    box-shadow: 2px 3px 3px 0px rgba(0,0,0,0.2);
    background-color: #559457;
}

.subdropdown .dropdown_subbutton{
  box-shadow: 2px 3px 3px 0px rgba(0,0,0,0.2);
  background-color: #559457;
}


.tools_content{
  color: #317f43;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.tools_content h1{
  margin: 1rem;
}

.tools_content p{
  color: #317f43;
  margin: 1rem;
}

.tools_img img{
  margin-top: 1rem;
  max-width: 400px;
  height: auto;
}

.information_blue{
  border-top: 2px solid black;
  color: white;
  background-color: #317f43;

  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
}

.information_blue img{
  margin: 1rem;
}

.queen{
  background-color: #1100ff;
  color: #cacaca;
}
.mybaby{
  background-color: #317f43;
  color: #ff0000;
}
.redpage{
  background-color: #ff0000;
}

.orangepage{
  background-color: orange;
}

.lyric{
  display: flex;
  justify-content: center;
  width: 50%;
  margin: auto;
  padding: 50px;
  -webkit-column-count: 3; /* Chrome, Safari, Opera */ -moz-column-count: 3; /* Firefox */ column-count: 3;
  font-family: 'Source Sans Pro', sans-serif;
}
.vader{
  background-color: #f7e305;
}
ul{
  margin: 1rem;
}

li{
  margin: 1rem;
}

