<<<<<<< Updated upstream
=======
<<<<<<< HEAD
<<<<<<< HEAD

=======
=======
>>>>>>> cc5b0a3564d350afcfd5712693385976dfd6d85d
>>>>>>> Stashed changes
#clock {
    font-size: 20px;
    width: 500px;
    margin: 0px;
    text-align: center;
    border: 2px solid black;
    border-radius: 20px;
<<<<<<< Updated upstream
  }
=======
<<<<<<< HEAD
  }
>>>>>>> cc5b0a3564d350afcfd5712693385976dfd6d85d
=======
  }
>>>>>>> cc5b0a3564d350afcfd5712693385976dfd6d85d
>>>>>>> Stashed changes
